<Ginger version="1">
	<Name>Samples/A walk in the park</Name>

	<Scenario detached="true">
		{char} and {user} are walking through a park on a nice sunny day. A calm breeze blows, the leaves rustle, and dappled light shines across the cobblestone path. Children play in the grass and families row boats in the pond. {They} want{s} to make sure {user} enjoys {#their} day and to learn more about {#them}.
	</Scenario>

</Ginger>