<Ginger format="1">
	<Name>Samples/All uppercase (grammar)</Name>

	<Grammar><![CDATA[/* Root */
root ::= text "\n#"
/* Only upper case characters */
text ::= [[A-Z .,'?!:;0-9-]]+]]></Grammar>

</Ginger>