<Ginger format="1">
	<Name>Samples/All lowercase (grammar)</Name>

	<Grammar><![CDATA[/* Root */
root ::= text "\n#"
/* Only lower case characters */
text ::= [[a-z .,'?!:;0-9-]]+]]></Grammar>

</Ginger>