<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DarkNet" version="2.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net46" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net46" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net46" />
  <package id="YamlDotNet" version="13.7.1" targetFramework="net46" />
</packages>